<footer class="bg-white clearfix">
    <div class="container mx-auto my-2 py-6 text-center">
        <ul>
            <li class="inline text-sm px-4 text-black-900 hover:text-blue-600 border-r-2 border-black-900"><a alt="Portfolio" href="/index.html" title="Portfolio">Portfolio</a></li>
            <li class="inline text-sm px-4 text-black-900 hover:text-blue-600 border-r-2 border-black-900"><a alt="Resume" href="/resume.html" title="Resume">Resume</a></li>
            <li class="inline text-sm px-4 text-black-900 hover:text-blue-600 border-r-2 border-black-900"><a alt="LinkedIn" href="https://www.linkedin.com/in/brian-baron/" title="LinkedIn">LinkedIn</a></li>
            <li class="inline text-sm px-4 text-black-900 hover:text-blue-600"><a alt="Twitter" href="https://twitter.com/bbaronVT" title="Twitter">Twitter</a></li>
        </ul>
    </div>
</footer>