@tailwind base;

body, p, li {
    @apply font-body text-sm text-gray-800
}

h1 {
    @apply font-head text-3xl text-gray-700
}

h2 {
    @apply font-head text-2xl text-blue-600
}

h3 {
    @apply font-head text-xl text-blue-600
}

h4 {
    @apply font-head text-xl text-gray-700
}

h5 {
    @apply font-head text-lg text-gray-700
}

h6 {
    @apply font-headlite text-base text-gray-700
}

/* ------------- Blog Specific ------------- */
#blogpost a {
    @apply text-blue-600
}
#blogpost a:hover {
    @apply text-blue-500
}
#blogpost pre, #blogpost code {
    @apply text-xs overflow-auto mb-5;
}
#blogpost ul {
    @apply ml-6 list-disc;
}
#blogpost ol {
    @apply ml-6 list-decimal;
}
#blogpost li {
    @apply mb-4;
}
#blogpost .center-image {
    @apply mx-auto block
}
#blogpost h3, #blogpost h4, #blogpost h5, #blogpost h6, #blogpost p {
    @apply mb-5
}
#blogpost table {
    @apply font-headlite mx-auto border-collapse p-2 overflow-scroll;
    background: #FCFCFC;
}
#blogpost th, #blogpost td {
    @apply border p-2;
    border-color: #f0f0f0;
}
#blogpost th {
    background: #F8F8F8;
}

@tailwind components;

@tailwind utilities;